.content-backlogin{
    margin: 76px 0;
    width: 100%;
}

.content-login{
    margin: 0px 100px;
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Khoảng cách giữa các phần tử */
    background: linear-gradient(269deg, rgba(255, 239, 236, 0.00) 17.89%, #FFEFEC 46.58%), url("/TKweb/assets/img/back_login.png") right/50% no-repeat;
    /* background-image: ; */
    overflow: hidden; /* Ẩn các phần bị vượt ra ngoài */
}

.content-login-left{
    margin-left: 116px;
    padding-top: 62px;
    width: 50%;
}

.content-login-right{
    width: 50%;
    
}

.content-login-right .backlogin_img{
    width: 100%;
    height: 100%;
    background-image: url('assets/img/back_login.png');
    
}

.login-title{
    color: #B53518;

    /* Heading/H32 */
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px; /* 139.286% */
}

.login-describe{
    color: #000;

    /* Paragraph/p3 */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    margin-bottom: 40px;
}

.account .accoutn-title{
    color: #1C192A;
    /* Dang nhap */
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 121.429% */
    margin-bottom: 6px;
}
.accoutn-title{
    font-size: 14px;
}

.password .password-title{
    color: #1C192A;
    /* Dang nhap */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 121.429% */
    margin-bottom: 6px;
}

#accoutn-fill_name{
    border-radius: 11px;
    border: 1px solid #B8B4C8;
    width: 100%;
    height: 46px;
    margin-bottom: 22px;
    padding: 14px 0 14px 17px;
}

.password-fill{
    position: relative;
}

.password-fill_img{
    position: absolute;
    right: 3%;
    top: 55%;
    transform: translateY(-100%);
    cursor: pointer;
}


#password-fill_name{
    border-radius: 11px;
    border: 1px solid #B8B4C8;
    width: 100%;
    height: 46px;
    padding: 14px 0 14px 17px;
    margin-bottom: 13px;
}



.Option-password{
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: space-between;
    gap: 10px; /* Khoảng cách giữa các phần tử */
    margin-bottom: 30px;
}



.remember-password{
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    gap: 10px; /* Khoảng cách giữa các phần tử */
}

/* Ẩn giao diện mặc định của checkbox */
#remember-password_tick{
    border: 1px solid #B8B4C8;
    cursor: pointer;
    appearance: none; /* Xóa giao diện mặc định */
    -webkit-appearance: none; 
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 4px; 
    background-color: white;
    position: relative;
}


/* Giao diện khi checkbox được chọn */
#remember-password_tick:checked {
  background-color: #eb5c39; /* Màu nền khi được chọn */
}

/* Tạo dấu tích (checkmark) khi checkbox được chọn */
#remember-password_tick:checked::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 30%;
  transform: translateX(-50%);
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}



.remember-password .remember-password_content{
    color: #7B778D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 121.429% */
    
}

.forget-password .forget-password_link{
    color: #7B778D;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; 
}

.login-btn{
    display: flex;
    width: 100%;
    height: 37px;
    padding: 8.338px 28.662px;
    justify-content: center;
    align-items: center;
    gap: 5.211px;
    border-radius: 7.817px;
    border: 1px solid #EAE8F0;
    background: linear-gradient(262deg, #FBB91C -22.61%, #FF5B35 56.78%);
    color: #EAE8F0;
    font-size: 14.592px;
    font-style: normal;
    font-weight: 700;
    line-height: 20.324px; /* 139.286% */
    margin-bottom: 15px;
}

.login-btn:hover{
    background:#ffdad1;
    color: #eb5c39;
    border: 1px solid #eb5c39;
    cursor: pointer;
}



.login-or_content{
    color: #9994AA;
    text-align: center;
    /* Paragraph/p4 */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 121.429% */
    margin-bottom: 20px;
    position: relative;
}

.login-or_content::after{
    content: ''; 
    display: block; /* Để đảm bảo nó chiếm toàn bộ chiều rộng */
    border-top: 1px solid #ccc; /* Đường viền ngang */
    width: 42%; /* Chiều rộng 100% của thẻ cha */
    position: absolute;
    top: 50%; 
    right: 0;
    transform: translate(0%,-50%);

}

.login-or_content::before{
    content: ''; 
    display: block; /* Để đảm bảo nó chiếm toàn bộ chiều rộng */
    border-top: 1px solid #ccc; /* Đường viền ngang */
    width: 42%; /* Chiều rộng 100% của thẻ cha */
    position: absolute;
    top: 50%; 
    transform: translate(0%,-50%);

}

.login-different{
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: space-between;
    gap: 10px; /* Khoảng cách giữa các phần tử */
    margin-bottom: 50px;
}


.login-different_google{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #9994AA;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.login-different_facebook{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #9994AA;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.login-google_img, .login-facebook_img{
    width: 16px;
    height: 16px;
}

.login-facebook_link, .login-google_link{
    color: #58546A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 121.429% */
    padding-left: 10px;
}

.login-link-signup{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    position: relative;
}

.login-link-signup::after{
    content: ''; 
    display: block; /* Để đảm bảo nó chiếm toàn bộ chiều rộng */
    border-top: 1px solid #2e2a43; /* Đường viền ngang */
    width: 25%; /* Chiều rộng 100% của thẻ cha */
    position: absolute;
    top: 50%; 
    right: 0;
    transform: translate(0%,-50%);

}

.login-link-signup::before{
    content: ''; 
    display: block; /* Để đảm bảo nó chiếm toàn bộ chiều rộng */
    border-top: 1px solid #2e2a43; /* Đường viền ngang */
    width: 25%; /* Chiều rộng 100% của thẻ cha */
    position: absolute;
    top: 50%; 
    left: 0;
    transform: translate(0%,-50%);
}

.login-link-signup_ans{
    color: #1C192A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
}

.login-link-signup_link{
    color: #58546A;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px; /* 118.75% */
    padding-left: 5px;
    cursor: pointer;
}

.login-link-signup_link:hover{
    color: #eb5c39;
}
