.content {
  width: 1148px;
  margin: 0 auto;
}

.button {
  display: flex;
  padding: 16px 55px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: #e74f2c;
  /* Heading/H18 */
  font-size: 16px;
  font-weight: 700;
  line-height: 1.19;
}
.button-secondary {
  border: 1px solid #ff5b35;
}
.button-secondary:hover {
  background: #ff5b35;
  color: #eae8f0;
}
.button-primary {
  border: 1px solid #eae8f0;
  background: linear-gradient(262deg, #fbb91c -22.61%, #ff5b35 56.78%);
  color: #eae8f0;
}
.button-primary:hover {
  background: #ffdad1;
  border: 1px solid #fa7353;
  color: #e74f2c;
}
.heading-h18 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.19;
}
.heading-h22 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.27;
}
.heading-h40 {
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
}
.heading-h54 {
  color: #eae8f0;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25; /* 125% */
}
.paragraph-p2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
}
.paragraph-p3 {
  color: #fff;
  /* Paragraph/p3 */
  font-size: 18px;
  font-weight: 400;
  line-height: 1.45; /* 144.444% */
}
.paragraph-p4 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
/* Header */
.header {
  background: #fff4f1;
  box-shadow: 7px 0px 24.7px 0px #d2d0df;
  padding: 19px 0;
}
.header .main-nav {
  display: flex;
  justify-content: space-between;
}
.header .nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav-links {
  margin-left: 27px;
  display: flex;
  align-items: center;
  gap: 29px;
}
.header .nav-links li {
  color: #58546a;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.19;
}
.header .nav-links li:hover,
.header .nav-links .active {
  color: #e74f2c;
}
.header .nav-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .auth-links {
  margin-left: 30.5px;
  color: #58546a;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9; /* 118.75% */
}
.header .auth-links a:hover {
  color: #e74f2c;
}
/* Main */
/* Hero content */
.hero {
  background: linear-gradient(180deg, #b8b4c8 0%, #5a5862 100%);
  padding-bottom: 51px;
}
.hero__content {
  width: 39%;
}
.hero .heading-h54 {
  padding-top: 85px;
  padding-bottom: 39px;
}
.hero__action {
  margin-top: 71px;
  display: flex;
  gap: 27px;
}
.hero__action .button {
  padding: 13.5px 19px;
}
/* Hero pagination */
.hero__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 57px;
  margin-top: 104px;
  margin-bottom: 51px;
}
.hero__pagination .dot {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28.83px;
}
.hero__pagination .dot span {
  width: 14.783px;
  height: 14.783px;
  background-color: #9994aa;
  border-radius: 10.717px;
  cursor: pointer;
}
.hero__pagination span:hover,
.hero__pagination span.active {
  background-color: #d9d9d9;
}
.hero__pagination svg {
  color: #f4b8a9;
}
.hero__pagination svg:hover {
  color: #ff5b35;
}

/* Adoption intro */
.adoption-intro {
  padding-top: 163px;
  padding-bottom: 91px;
}
.adoption-intro .heading-h54 {
  color: #b53518;
  text-align: center;
  margin-bottom: 14px;
}
.adoption-intro .paragraph-p2 {
  margin: 0 auto;
  text-align: center;
  width: 54%;
}
.adoption-intro .paragraph-p2 strong {
  color: #363344;
}
.adoption-intro .pet-types {
  margin-top: 69px;
  display: flex;
  gap: 79px;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}
.adoption-intro .pet-types img {
  transition: filter 0.3s;
}
.adoption-intro .pet-types img:hover {
  filter: drop-shadow(5px 5px 12.7px rgba(0, 0, 0, 0.25));
}
.search-container {
  margin: 0 auto;
  width: 675px;
  background-color: #e8e0f0;
  border: 1px solid #fa7353;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 23px;
  padding-right: 23px;
}
.search-box {
  display: flex;
  border-radius: 25px;
  padding-top: 6.56px;
  padding-bottom: 6.56px;
  flex-grow: 1;
}
.search-box input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: #6f6c85;
  margin-right: 10px;
}
.search-button {
  padding-top: 6.25px;
  padding-bottom: 6.25px;
  border: none;
  outline: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* Features pet */
.featured-pets {
  background-color: #ffefeb;
}
.featured-pets .heading-h54 {
  text-align: center;
  padding-top: 79px;
  color: #992207;
}
.featured-pets .pet-carousel {
  border-radius: 31.023px;
  background: #fff;
  box-shadow: 8.864px 10.636px 20.475px 0px rgba(0, 0, 0, 0.1);
  padding: 65px 50px;
}
.featured-pets .pet-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}
.featured-pets .pet-card {
  border-radius: 15px;
  padding: 20px;
  width: 258px;
}
.featured-pets .pet-card .card-name {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 159px;
  margin-bottom: 16px;
  margin-top: 9.15px;
}

.featured-pets .pet-card .heading-h22 {
  color: #b53518;
}
.featured-pets .pet-card strong {
  font-weight: 700;
}
.featured-pets .pet-card .card-info {
  color: #000;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  display: flex;
  gap: 8px;
  align-items: center;
  width: 159px;
}
